<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand btn" (click)="inicio()">DREAM HOUSE</a>
      <button class="navbar-toggler" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active btn"
            aria-current="page" (click)="inicio()">Inicio</a></li>
            <li class="nav-item"><a class="nav-link active btn"
              aria-current="page" (click)="catalogo()">Catalogo</a></li>
          <li class="nav-item dropdown"><a
            class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mantenimiento </a>
            <ul class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" (click)="clientes()">Clientes</a></li>
              <li><a class="dropdown-item" (click)="edificios()">Edificios</a></li>
              <li><a class="dropdown-item" (click)="departamentos()">Departamentos</a></li>
              <li><a class="dropdown-item" (click)="contratos()">Contratos</a></li>
              <li><a class="dropdown-item" (click)="alquileres()">Alquileres</a></li>
              <li><a class="dropdown-item" (click)="pagos()">Pagos</a></li>
            </ul></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
