<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="contact">
                        <div class="d-flex">
                            <h4 class="sub-titulo">
                                <img class="icon" src="assets/footer/vocina.png">
                                Atención al cliente
                            </h4>
                        </div>
                        <ul class="lik pl-5">
                            <li> <a href="#">Términos y Condiciones</a></li>
                            <li> <a href="#">Contáctanos</a></li>
                            <li> <a href="#">Preguntas Frecuentes (FAQ)</a></li>
                        </ul>
                    </div>
                    <div class="contact">
                        <div class="d-flex">

                            <h4 class="sub-titulo">
                                <img class="icon" src="assets/footer/email.png">
                                Sugerencias
                            </h4>
                        </div>
                        <ul class="lik pl-5">
                            <li> <a href="#">sugerencias@dreamhouse.com</a></li>
                        </ul>
                    </div>
                    <div class="contact">
                        <div class="d-flex">
                            <h4 class="sub-titulo">
                                <img class="icon" src="assets/footer/contrato.png">
                                Trabaja con Nosotros
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="contact">
                        <div class="d-flex">
                            <h4 class="sub-titulo">
                                <img class="icon" src="assets/footer/ubi.png">
                                Nuestros Locales
                            </h4>
                        </div>
                        <ul class="lik pl-5">
                            <li> <a href="#">Jr. Puno 615 A - Cercado de Lima</a></li>
                            <li> <a href="#">Av. México 1039 - La Victoria</a></li>
                            <li> <a href="#">Av. Aviación 2792 - San Borja</a></li>
                        </ul>
                    </div>
                    <div class="contact">
                        <div class="d-flex">
                            <h4 class="sub-titulo">
                                <img class="icon" src="assets/footer/telefono.png">
                                Teléfono
                            </h4>
                        </div>
                        <ul class="lik pl-5">
                            <li> <a href="#">01 111 111</a></li>
                        </ul>
                    </div>
                    <div class="contact">
                        <div class="d-flex">
                            <h4 class="sub-titulo">
                                <img class="icon" src="assets/footer/reloj.png">
                                Lunes a Sábado
                            </h4>
                        </div>
                        <ul class="lik pl-5">
                            <li> <a href="#">09:00 am a 06:00pm</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 m-auto">
                    <div class="contact">
                        <h4 class="text-center sub-titulo">SÍGUENOS EN NUESTRAS REDES SOCIALES</h4>
                        <h4 class="text-center">
                            <a href="#">
                                <img class="icon-redes" id="icon1" onmouseover="iconosover('icon1')"
                                    onmouseleave="iconosleave('icon1')" src="assets/footer/facebook.png">
                            </a>
                            <a href="#">
                                <img class="icon-redes" id="icon2" onmouseover="iconosover('icon2')"
                                    onmouseleave="iconosleave('icon2')" src="assets/footer/tik-tok.png">
                            </a>
                            <a href="#">
                                <img class="icon-redes" id="icon3" onmouseover="iconosover('icon3')"
                                    onmouseleave="iconosleave('icon3')" src="assets/footer/instagram.png">
                            </a>
                        </h4>
                        <div class="row">
                            <div class="col-12">
                                <ul class="sociel">
                                    <li> <a href="#"></a></li>
                                    <li> <a href="#"></a></li>
                                    <li> <a href="#"></a></li>
                                </ul>
                            </div>
                            <div class="col-12">
                                <ul class="text-center mt-3 lik">
                                    <li>
                                        <a href="#">
                                            Unete a nuestra Red de Mayorístas
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="icon-redes" src="assets/footer/libro-abierto.png">
                                            LIBRO DE
                                            RECLAMACIONES
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 2022 <a href="#">Dream House.</a> Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
