
	<section>
		<div class="container-fluid banner">
			<div class="contenedor">
				<h1><span id="titulo-banner">CATÁLOGO</span>
				</h1>
				<span class="info">Gran variedad de departamentos para que
					elija la opción que más le guste.</span>
				<a class="boton-catalogo" href="#">Catálogo</a>
			</div>
		</div>
	</section>

	<section>
		<div class="px-3 py-5" style="background-color: #EDEDED;">
			<div class="row justify-content-center p-3">
				<div class="col-11 col-md-6 col-lg-4 py-3">
					<div class="card border-0">
						<a >
							<img src="assets/catalogo/depa-1.jpg" class="card-img-top img-depa" alt="">
						</a>
						<div class="text-center py-2">
							<button id="btn-verMas" class="btn btn-primary btn-detalles" >Ver más</button>
						</div>
						<div class="card-body ver-mas" id="card-body">
							<h5 class="card-title mb-0">Departamento 1</h5>
							<p class="card-text">6 habitaciones</p>
							<h5 class ="precio">S/. 750 al mes</h5>
						</div>
						<div class="card-footer border-top">
							<div class="text-center btn-accion">
								<a class="btn btn-primary btn-detalles" href="detallesDepartamento.html">Detalles</a>
								<button class="btn btn-success btn-alquilar">Alquilar</button>
							</div>
						</div>
					</div>
				</div>

				<div class="col-11 col-md-6 col-lg-4 py-3">
					<div class="card border-0">
						<a >
							<img src="assets/catalogo/depa-2.jpg" class="card-img-top img-depa" alt="">
						</a>
						<div class="text-center py-2">
							<button id="btn-verMas2" class="btn btn-primary btn-detalles" >Ver más</button>
						</div>
						<div class="card-body ver-mas" id="card-body2">
							<h5 class="card-title mb-0">Departamento 1</h5>
							<p class="card-text">6 habitaciones</p>
							<h5 class ="precio ">S/. 750 al mes</h5>
						</div>
						<div class="card-footer border-top">
							<div class="text-center btn-accion">
								<a class="btn btn-primary btn-detalles" href="detallesDepartamento.html">Detalles</a>
								<button class="btn btn-success btn-alquilar">Alquilar</button>
							</div>
						</div>
					</div>
				</div>

				<div class="col-11 col-md-6 col-lg-4 py-3">
					<div class="card border-0">
						<a >
							<img src="assets/catalogo/depa-1.jpg" class="card-img-top img-depa" alt="">
						</a><div class="text-center py-2">
							<button id="btn-verMas3" class="btn btn-primary btn-detalles" >Ver más</button>
						</div>
						<div class="card-body ver-mas" id="card-body3">
							<h5 class="card-title mb-0">Departamento 1</h5>
							<p class="card-text">6 habitaciones</p>
							<h5 class ="precio ">S/. 750 al mes</h5>
						</div>
						<div class="card-footer border-top">
							<div class="text-center btn-accion">
								<a class="btn btn-primary btn-detalles" href="detallesDepartamento.html">Detalles</a>
								<button class="btn btn-success btn-alquilar">Alquilar</button>
							</div>
						</div>
					</div>
				</div>

				<div class="col-11 col-md-6 col-lg-4 py-3">
					<div class="card border-0">
						<a >
							<img src="assets/catalogo/depa-1.jpg" class="card-img-top img-depa" alt="">
						</a>
						<div class="text-center py-2">
							<button id="btn-verMas4" class="btn btn-primary btn-detalles" >Ver más</button>
						</div>
						<div class="card-body ver-mas" id="card-body4">
							<h5 class="card-title mb-0">Departamento 1</h5>
							<p class="card-text">6 habitaciones</p>
							<h5 class ="precio ">S/. 750 al mes</h5>
						</div>
						<div class="card-footer border-top">
							<div class="text-center btn-accion">
								<a class="btn btn-primary btn-detalles" href="detallesDepartamento.html">Detalles</a>
								<button class="btn btn-success btn-alquilar">Alquilar</button>
							</div>
						</div>
					</div>
				</div>

				<div class="col-11 col-md-6 col-lg-4 py-3">
					<div class="card border-0">
						<a href="assets/catalogo/depa-1.jpg">
							<img src="assets/catalogo/depa-1.jpg" class="card-img-top img-depa" alt="">
						</a>
						<div class="text-center py-2">
							<button id="btn-verMas5" class="btn btn-primary btn-detalles" >Ver más</button>
						</div>
						<div class="card-body ver-mas" id="card-body5">
							<h5 class="card-title mb-0">Departamento 1</h5>
							<p class="card-text">6 habitaciones</p>
							<h5 class ="precio ">S/. 750 al mes</h5>
						</div>
						<div class="card-footer border-top">
							<div class="text-center btn-accion">
								<a class="btn btn-primary btn-detalles" href="detallesDepartamento.html">Detalles</a>
								<button class="btn btn-success btn-alquilar">Alquilar</button>
							</div>
						</div>
					</div>
				</div>

				<div class="col-11 col-md-6 col-lg-4 py-3">
					<div class="card border-0">
						<a >
							<img src="assets/catalogo/depa-2.jpg" class="card-img-top img-depa" alt="">
						</a>
						<div class="text-center py-2">
							<button id="btn-verMas6" class="btn btn-primary btn-detalles" >Ver más</button>
						</div>
						<div class="card-body ver-mas" id="card-body6">
							<h5 class="card-title mb-0">Departamento 1</h5>
							<p class="card-text">6 habitaciones</p>
							<h5 clas ="precio ">S/. 750 al mes</h5>
						</div>
						<div class="card-footer border-top">
							<div class="text-center btn-accion">
								<a class="btn btn-primary btn-detalles" href="detallesDepartamento.html">Detalles</a>
								<button class="btn btn-success btn-alquilar">Alquilar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

