
	<section>
		<div class="container-fluid banner">
			<div class="contenedor">
				<h1><span id="titulo-banner">CATÁLOGO</span>
				</h1>
				<span class="info">Gran variedad de departamentos para que
					elija la opción que más le guste.</span>
				<a class="boton-catalogo" href="#">Catálogo</a>
			</div>
		</div>
	</section>

	<section>
		<div class="px-3 py-5" style="background-color: #EDEDED;">
			<div class="row justify-content-center p-3">
				<div class="col-lg-4 col-md-6 col-12 py-3" *ngFor="let e of edificios">
					<div class="card border-0">
						<a >
							<img src="assets/catalogo/depa-1.jpg" class="card-img-top img-depa" alt="">
						</a>
						<div class="text-center py-2">
							<button id="b{{e.id}}" onclick="vermas(this.id)" class="btn btn-primary btn-detalles ver-mas" >Ver más</button>
						</div>
						<div class="card-body ver-mas" id="vb{{e.id}}">
							<h5 class="card-title mb-0">Edifio {{e.id}}</h5>
							<p class="card-text">{{e.n_pisos}} pisos</p>
							<h5 class ="precio">Ubicado en {{e.direccion}}</h5>
						</div>
						<div class="card-footer border-top">
							<div class="text-center btn-accion">
								<a class="btn btn-primary btn-detalles" href="detallesDepartamento.html">Detalles</a>
								<button class="btn btn-success btn-alquilar">Alquilar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>